POSTGRES_DB=mechalabx_db
POSTGRES_USER=creotec_user
POSTGRES_PASSWORD=creotec_pass_ChangeMe
POSTGRES_PORT=5433
DATABASE_URL=postgresql://creotec_user:creotec_pass_ChangeMe@localhost:5433/mechalabx_db
